<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>


</br>


<% @tweets.each do |e| %>
<p>
    <div class="tweet-box">
        <%= e.message %>
        <%= ((Time.current - e.created_at)/60).to_i %>分
        <%=link_to '削除', "/tweets/#{e.id}", data: { turbo_method: :delete } %>
        <%=link_to '表示', "/tweets/#{e.id}" %>
        <%=link_to '編集', "/tweets/#{e.id}/edit" %>
        
        </br>
        
        <%=link_to 'Reply', "/" ,class: "action-link"%>
        <%=link_to 'Repost', "/",class: "action-link" %>
        <%=link_to 'View', "/",class: "action-link" %>
        <% if session[:login_uid] %>
            <% like = e.likes.find_by(user_id: User.find_by(uid: session[:login_uid]).id) %>
            
            <% if like %>
                <%= form_with url: like_path(like), method: :delete do |form| %>
                    <%= image_submit_tag 'push_heart.png' %><%= e.likes.count %>
                <% end %>
            <% else %>
                <%= form_with url: likes_path, method: :post do |form| %>
                    <%= form.hidden_field :tweet_id, value: e.id %>
                    <%= image_submit_tag 'heart.png' %><%= e.likes.count %>
                <% end %>
            <% end %>
        <% end %>


        
        
        
    </div>

</p>


<% end %>
<% if session[:login_uid] %>
    <%= link_to "ログアウト", top_logout_path %>
<% end %>



