<% @users.each do |e| %>
    <p>
        <%= e.uid %>
        <%= e.pass %>
        <%= e.age %>
        <%=link_to '削除', "/users/#{e.id}", data: { turbo_method: :delete } %>
    </p>
<% end %>


<%= link_to image_tag('x-icon.png'), '/' %>
<h1>すべての話題がここに。</h1>
<h2>今すぐ参加しましょう。</h2>


<%= link_to "アカウントを作成", new_user_path, class: "button-style-signUp" %>
<h3>アカウントをお持ちの場合</h3>
<%= link_to "ログイン", top_main_path, class: "button-style-signIn" %>
