<h1>Xをはじめましょう</h1>
<% if @user&.errors&.any? %>
    <div class="error_messages">
        <% @user.errors.full_messages.each do |message| %>
            <p><%= message %></p>
        <% end %>
    </div>
<% end %>





<%= form_for @user, url: {action: :create} do |f| %>
    <p>
        <%= f.label :uid, 'ユーザーID' %>
        <%= f.text_field :uid %>
    </p>

    <p>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password %>
    </p>

    <p>
        <%= f.label :password_confirmation, 'パスワード(確認)' %>
        <%= f.password_field :password_confirmation %>
    </p>

    <%= f.submit '登録', class: "submit-btn" %>
<% end %>



<p>アカウントをお持ちの方は<%= link_to "ログイン", top_main_path%>してください。</p>
